{% extends 'base.html' %} {% load static %} {% block body %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}" />

<div class="container">
  <div class="reg">
    <h3 style="text-align: center">Enter New Password.</h3>
    <br>
    <p>Please enter your new password & verify you typed it in correctly.</p>
    <form  method="post">
        {% csrf_token %}
        {{form.new_password1.label_tag}}
        {{form.new_password1}}<i class="far fa-eye" id="hide"></i>
        <span class="details">Password must include numeric value, alphabet (uppercase and lowercase).</span>
        <br>
        <br>
        {{form.new_password2.label_tag}}
        {{form.new_password2}}<i class="far fa-eye" id="hide"></i>
 
        <div class="submit-btn-out">
            <button type="submit" class="submit-btn">Reset Password</button>
        </div>
    </form>
  </div>
</div>
<script>
  const hidebtn = document.getElementById('hide1');
  const hidebtn2 = document.getElementById('hide2');
  const password1 =  document.getElementById('id_new_password1')
  const password2  = document.getElementById('id_new_password2')
  const details = document.querySelector('.details')

  var clicked1 = false
  var clicked2 = false

  password1.addEventListener('focus',()=>{
    details.style.display = 'inline'
  })

  hidebtn.addEventListener('click', ()=>{
    if (clicked1 == false){
      password1.type='text'
      hidebtn.classList.remove('fa-eye')
      hidebtn.classList.add('fa-eye-slash')
      clicked1 = true
    }
    else{
      password1.type='password'
      hidebtn.classList.remove('fa-eye-slash')
      hidebtn.classList.add('fa-eye')
      clicked1 = false
    }  
  })


  hidebtn2.addEventListener('click', ()=>{
    if (clicked2 == false){
      password2.type='text'
      hidebtn2.classList.remove('fa-eye')
      hidebtn2.classList.add('fa-eye-slash')
      clicked2 = true
    }
    else{
      password2.type='password'
      hidebtn2.classList.remove('fa-eye-slash')
      hidebtn2.classList.add('fa-eye')
      clicked2 = false
    }
  })
</script>
{% endblock %}