{% extends 'base.html' %} {% load static %} {% block body %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}" />

<div class="container">
  <div class="reg">
    <h3 style="text-align: center">Enter New Password.</h3>
    <br>
    <p>Please enter your new password & verify you typed it in correctly.</p>
    <form  method="post">
        {% csrf_token %}
        {{form.new_password1.label_tag}}
        {{form.new_password1}}
        <br>
        <br>
        {{form.new_password2.label_tag}}
        {{form.new_password2}}
 
        <div class="submit-btn-out">
            <button type="submit" class="submit-btn">Reset Password</button>
        </div>
    </form>
  </div>
</div>
{% endblock %}