{% extends 'base.html' %} {% load static %} {% block body %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}" />

<div class="container">
  <div class="reg">
    <h3 style="text-align: center">REGISTRATION FORM</h3>
    <br />
    <form  method="post">
        {% if forms.errors %}
        <center class="info">
            <span class="error">{{forms.errors}}</span>
        </center>
        {% endif %}
        


        {% csrf_token %}
        {{forms.first_name.label_tag}}
        {{forms.first_name}}
        <br>
        <br>
        {{forms.last_name.label_tag}}
        {{forms.last_name}}
        <br>
        <br>
        {{forms.email.label_tag}}
        {{forms.email}}
        <br>
        <br>
        {{forms.gender.label_tag}}
        {{forms.gender}}
        <br>
        <br>
        {{forms.courses.label_tag}}
        {{forms.courses}}
        <br>
        <br>
        {{forms.phone_number.label_tag}}
        {{forms.phone_number}}
        <br>
        <br>
        {{forms.password1.label_tag}}
        <br>
        {{forms.password1}}<i class="far fa-eye" id="hide1"></i>
        <span class="details">Password must include numeric value, alphabet (uppercase and lowercase).</span>
        <br>
        <br> 
        {{forms.password2.label_tag}}
        {{forms.password2}}<i class="far fa-eye" id="hide2"></i>
        <br>

        <div class="submit-btn-out">
            <button type="submit" class="submit-btn">Submit</button>
        </div>
    </form>
  </div>
</div>
<script>
  const hidebtn = document.getElementById('hide1');
  const hidebtn2 = document.getElementById('hide2');
  const password1 =  document.getElementById('id_password1')
  const password2  = document.getElementById('id_password2')
  const details = document.querySelector('.details')

  var clicked1 = false
  var clicked2 = false

  password1.addEventListener('focus',()=>{
    details.style.display = 'inline'
  })

  hidebtn.addEventListener('click', ()=>{
    if (clicked1 == false){
      password1.type='text'
      hidebtn.classList.remove('fa-eye')
      hidebtn.classList.add('fa-eye-slash')
      clicked1 = true
    }
    else{
      password1.type='password'
      hidebtn.classList.remove('fa-eye-slash')
      hidebtn.classList.add('fa-eye')
      clicked1 = false
    }  
  })


  hidebtn2.addEventListener('click', ()=>{
    if (clicked2 == false){
      password2.type='text'
      hidebtn2.classList.remove('fa-eye')
      hidebtn2.classList.add('fa-eye-slash')
      clicked2 = true
    }
    else{
      password2.type='password'
      hidebtn2.classList.remove('fa-eye-slash')
      hidebtn2.classList.add('fa-eye')
      clicked2 = false
    }
  })
</script>
{% endblock %}
